:root {
    --txt-bg-color: rgba(255, 255, 255, 0.38);
    --full-width: min(max(60vw, 40rem), 80rem);
    --full-width-padding: max(10vw, calc(100vw / 2 - 40rem));
}

body {
    overflow: visible;
    width: min(max(60vw, 40rem), 80rem);
    padding-inline: max(10vw, calc(100vw / 2 - 40rem));
}

html {
    background-image: linear-gradient(to bottom left, #a6c5eb, #3587e1, #a6c5eb);
    background-size: 5px 5px;
    background-position: relative;
}

div {
    display: flex;
    justify-content: space-between;
}

#header {
    background-color: var(--txt-bg-color);
    font-size: calc(20px + 0.1vw);
    height: 30px;
    padding: 10px;
}

#logo {
    width: fit-content;
}

#navig {
    overflow: visible;
    flex-wrap: nowrap;
}

#imgMe {
    padding: min(200px, 10vh);
    height: min(60vh, 30rem);
}

article {
    align-self: center;
    height: fit-content;
    text-align: left;
    padding-inline: 5%;
    background-color: var(--txt-bg-color);
}

i {
    margin-right: 15px;
    min-width: fit-content;
    padding-top: 2px;
}

a {
    margin-right: 15px;
    width: fit-content;
    min-width: fit-content;
    text-decoration-line: none;
}

a:visited {
    color: #1e31a0;
}

a:hover {
    color: #2c88ec;
}

#about-meA {
    color: #1e31a0;
    margin: 0;
}

#about-meA:visited {
    color: #1e31a0;
}

#about-meA:hover {
    color: lightblue;
}

footer {
    background-color: var(--txt-bg-color);
}

#footer {
    height: 30px;
    padding: 8px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #333;
}

#spacer {
    height: 5px;
    background-color: var(--txt-bg-color));
}

.main {
    padding: 10px;
    padding-inline: 0px;
}

#my-projects {
    display: inline;
}

hr {
    height: 3px;
    background-color: var(--txt-bg-color);
    border: 0;
    width: 80%;
}

#WIP {
    z-index: 1000;
    color: red;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-size: 40px;
}